<div id="welcome">
    <% if !session['spotify_user'] %>
        <%= link_to "Sign in to Spotify", '/auth/spotify', class: "sign-in" %>
    <% else %>
    <% puts session[:spotify_user] %>
        
        <%= form_tag("/set_time", method:"post") %>
            <%= label_tag(:time, "Trip time") %>
            <%= text_field(:time, :input) %>
            <%= submit_tag("Make playlist") %>
        <% #end %>
    <% end %>
</div>