<div id="welcome">
    <% if !session['spotify_user'] %>
        <%= link_to "Sign in to Spotify", '/auth/spotify', class: "sign-in" %>
    <% else %>
    <% puts session[:spotify_user] %>
        
        <%= form_tag("/set_time", method:"post") %>
            <div id="form-wrap">
            <!-- ---------SET PLAYLIST TIME--------- -->
            
            
                <div id="time-wrap">
                    <h2>Playlist Time</h2>
                    <div id="maps-directions">
                        
                        <!-- GOOGLE MAPS DIRECTIONS LINK -->
                        <div id="maps-directions-link">
                            <a href="javascript: $('#maps-directions-input').removeClass('hide'); $('#maps-directions-link').addClass('hide');" id="maps-link">Google Maps Directions</a>
                        </div>
                        
                        <!-- GOOGLE MAPS DIRECTIONS INPUTS -->
                        <div id="maps-directions-input" class="hide">
                            <%= label_tag(:directions, "Starting point and destination.") %>
                            <%= text_field_tag(:directions, :start, placeholder: "New York, New York", value: "") %>
                            <%= text_field_tag(:directions, :destination, placeholder: "Boston, Massachusetts", value: "") %>
                        </div>
                    </div>
                    
                    <div class="or">
                        <hr><h3>OR</h3><hr>
                    </div>
                    
                    <div id="trip-time-input">
                        <%= number_field(:time, :hours, min: 0, max: 5, step: 1, placeholder: "Hours") %>
                        <%= number_field(:time, :minutes, min: 0, max: 55, step: 5, placeholder: "Minutes") %>
                    </div>
                </div>
                
                
                <!-- ---------SET PLAYLIST TRACK POOL--------- -->
                
                <div id="track-pool-wrap">
                    <h2>Playlist Type</h2>
                    <div id="track-pool">
                         
                        <!-- SPOTIFY USER GENRE SEEDS -->
                        <div id="genre-option">
                            <%= radio_button_tag "pool", "genre" %>
                            <%= label_tag "pool_genre", "Music by genre" %>
                            <%= radio_button_tag "pool", "top_tracks" %>
                            <%= label_tag "pool_top_tracks", "My top tracks" %>
                        </div>
                        <div id="genre-seeds" class="hide">
                            <%= label_tag "genre_seed", "Music Genre" %>
                            <%= select_tag "genre_seed", options_for_select(@genres) %>
                        </div>
                    
                        <div class="or">
                            <hr><h3>OR</h3><hr>
                        </div>
                        
                        <div id="top-tracks">
                        </div>
                    </div>
                
                
                </div>
                <%= submit_tag("Make playlist") %>
            </div>

            
        <% #end %>
    <% end %>
</div>