<div id="welcome">
    <% if !current_user %>
        <%= link_to "Sign in to Spotify", '/auth/spotify', class: "sign-in" %>
    <% else %>
        
        <%= form_tag("/set_time", method:"post") %>
            <%= label_tag(:time, "Trip time") %>
            <%= text_field_tag(:time) %>
            <%= submit_tag("Make playlist") %>
        <% end %>
    <% #end %>
</div>
