    <% if !session['spotify_user'] %>
        <div id="spotify-login-div">
            <%= link_to "Sign in to Spotify", '/auth/spotify', class: "sign-in" %>
        </div>
    <% else %>
        <% puts session['spotify_user_id'] %>
        <div id="form-wrap">
            <!-- ---------SET PLAYLIST TIME--------- -->
            <%= form_tag("/make_playlist", method:"post") %>
                <div id="time-wrap">
                    <div class="h2-wrap">
                        <h2>Playlist Time</h2>
                    </div>
                    <div id="maps-directions">
                        
                        <!-- GOOGLE MAPS DIRECTIONS LINK -->
                        <div id="maps-directions-link">
                            <a href="javascript: $('#maps-directions-input').removeClass('hide'); $('#maps-directions-link').addClass('hide');" id="maps-link">Google Maps Directions</a>
                        </div>
                        
                        <!-- GOOGLE MAPS DIRECTIONS INPUTS -->
                        <div id="maps-directions-input" class="hide">
                            <%= label_tag(:directions, "Origin and destination.") %>
                            <input placeholder="New York, New York" value="" type="text" name="directions[start]" id="directions_start" onFocus="geolocate('start')">
                            <input placeholder="Boston, Massachusetts" value="" type="text" name="directions[destination]" id="directions_destination" onFocus="geolocate()">
                        </div>
                    </div>
                    
                    <div class="or">
                        <hr><h3>OR</h3><hr>
                    </div>
                    
                    <div id="trip-time-input">
                        <%= number_field(:time, :hours, min: 0, max: 5, step: 1, placeholder: "Hours") %>
                        <%= number_field(:time, :minutes, min: 0, max: 59, step: 1, placeholder: "Minutes") %>
                    </div>
                </div>
                
                
                <!-- ---------SET PLAYLIST TRACK POOL--------- -->
                
                <div id="track-pool-wrap">
                    <div class="h2-wrap">
                        <h2>Music Source</h2>
                    </div>
                    <div id="track-pool">
                         
                        <!-- SPOTIFY USER GENRE SEEDS -->
                        <div id="genre-option">
                            <%= radio_button_tag "pool", "genre" %>
                            <%= label_tag "pool_genre", "Based on genre" %><br>
                            
                            <div id="genre-seeds">
                                <h4>Choose up to 3</h4>
                                <div class="genre">
                                    <%= label_tag "genre_seed", "Music Genre" %>
                                    <%= select_tag "genre_seed_one", options_for_select(@genres) %>
                                </div>
                                <div class="genre">
                                    <%= label_tag "genre_seed", "Music Genre" %>
                                    <%= select_tag "genre_seed_two", options_for_select(@genres) %>
                                </div>
                                <div class="genre">
                                    <%= label_tag "genre_seed", "Music Genre" %>
                                    <%= select_tag "genre_seed_three", options_for_select(@genres) %>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div id="artist-option">
                            <%= radio_button_tag "pool", "artist" %>
                            <%= label_tag "pool_artist", "Based on artist" %>
                            
                            <div id="artist-input">
                                <%= text_field "seed", "artist", placeholder: "Artist", value: "" %>
                            </div>
                            
                        </div>

                        <div id="saved-tracks">
                            <%= radio_button_tag "pool", "saved_tracks" %>
                            <%= label_tag "pool_saved_tracks", "Recently-saved tracks" %>
                        </div>

                        <div id="top-tracks">
                            <%= radio_button_tag "pool", "top_tracks" %>
                            <%= label_tag "pool_top_tracks", "My top 50 tracks" %>
                        </div>
                    </div>

                </div>
                <%= submit_tag "Make playlist", id: "submit" %>
    <% end %>
</div>



<script>
    $("input#pool_genre").change(addHidePool);
    $("input#pool_top_tracks").change(addHidePool);
    $("input#pool_saved_tracks").change(addHidePool);
    $("input#pool_artist").change(addHidePool);
    
    
    $("#genre-seeds, #artist-input").addClass("hide");
    $("input:radio").css("display", "none");
    
    var topTracksR = $("input:radio[name=pool]#pool_top_tracks");
    var genreR = $("input:radio[name=pool]#pool_genre");
    var savedTracksR = $("input:radio[name=pool]#pool_saved_tracks");
    var artistR = $("input:radio[name=pool]#pool_artist");
        
    var topTracksL = $("label[for=pool_top_tracks]");
    var genreL = $("label[for=pool_genre]");
    var savedTracksL = $("label[for=pool_saved_tracks]");
    var artistL = $("label[for=pool_artist]");
        
    $("label[for=pool_top_tracks], label[for=pool_genre], label[for=pool_saved_tracks], label[for=pool_artist]").css({"transition": "0.25s background, 0.25s color", "border-bottom": "2px solid #ffff8d", "width": "100%", "font-size": "1.1em", "padding": "7px 0"});
    

    function addHidePool() {
    
        if (genreR.is(":checked")) {
            // $("#artist-input").removeClass();
            $("#artist-input").fadeOut(400).hide();
            $("#genre-seeds").fadeIn(400).show();
            unsetAll();
            genreL.addClass("selected");
        } else if (topTracksR.is(":checked") || savedTracksR.is(":checked")) {
            $("#genre-seeds").fadeOut(400).hide();
            $("#artist-input").fadeOut(400).hide()
            if (topTracksR.is(":checked")) {
                unsetAll();
                topTracksL.addClass("selected");
            } else {
                unsetAll();
                savedTracksL.addClass("selected");
            }
        } else if (artistR.is(":checked")) {
            $("#genre-seeds").fadeOut(400).hide();
            $("#artist-input").fadeIn(400).show();

            unsetAll();
            artistL.addClass("selected");
        }
        
        function unsetAll() {
            topTracksL.removeClass("selected");
            genreL.removeClass("selected");
            savedTracksL.removeClass("selected");
            artistL.removeClass("selected");
        }
    }
</script>

<!--<script src="https://maps.googleapis.com/maps/api/js?key= ENV['GOOGLE_MAPS_API_KEY']&libraries=places"></script>-->

<script>
      var placeSearch, autocompleteStart, autocompleteDestination;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocompleteStart = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('directions_start')),
            {types: ['geocode']});
            
        autocompleteDestination = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('directions_destination')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocompleteStart.addListener('place_changed', fillInAddress("start"));
        autocompleteDestination.addListener('place_changed', fillInAddress);
      }

      function fillInAddress(a) {
        a == "start" ? ac = autocompleteStart : ac = autocompleteDestination
        // Get the place details from the autocomplete object.
        var place = ac.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate(a) {
        a == "start" ? ac = autocompleteStart : ac = autocompleteDestination
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            ac.setBounds(circle.getBounds());
          });
        }
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES_API_KEY'] %>&libraries=places&callback=initAutocomplete"
        async defer></script>