<!DOCTYPE html>
<html>
  <head>
    <title>Triplist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <% if session['spotify_user'] %>
    
      <header>
        <div id="header">
          <div id="my-playlists">
            <%= link_to "My Playlists", playlists_path, id: "my-playlists-link" %>
          </div>
          
          <div id="user-nav">
            <div id="username">
              <span id="username-link"><%= session[:spotify_user_id] %></span>
            </div>
            <div id="logout">
              <%= link_to "Logout", logout_path, id: "logout-link" %>
            </div>
          </div>
          
        </div>
      </header>
      
    <% end %>
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
      </div>
    <% end %>
    
    
    
    <%= yield %>
    
    
  </body>
</html>
