<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TravelTracks</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if session['spotify_user'] %>
      <div class="alert"><p id="alert">Please enter playlist length manually until further notice.</p></div>

      <% if flash[:notice] %>
        <div class="alert">
            <p id="notice"><%= flash[:notice] %></p>
  
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
            <p id="alert"><%= flash[:alert] %></p>
        </div>
      <% end %>
    
      <header>
        <div id="header">
          <div id="left-nav">
            <%= link_to "Home", root_path, id: "home-link" %>
            <%= link_to image_tag("ios7-albums-outline.png", size:"30x30", class: "nav-icon") + "My Playlists", playlists_path, id: "my-playlists-link" %>
          </div>
          
          <div id="user-nav">
              <%= link_to session[:spotify_user_id], profile_path %>
              <%= link_to "Logout", logout_path, id: "logout-link" %>
          </div>
          
        </div>
      </header>
      
    <% end %>
    
    
    
    <%= yield %>
    
    <% if session['spotify_user'] %>
      <footer>
        <div id="footer-content">
          Copyright <%= Time.now.year %> TravelTracks
        </div>
      </footer>
    <% end %>
  </body>
</html>
